* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-slider {
    width: 50%;
    margin: auto;
    margin-top: 60px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 18px 20px rgba(0, 0, 0, 0.3);
}

.images {
    display: flex;
    width: 100%;
    transition: all 1s ease-in-out;
}

img {
    width: 100%;
}

.navigation {
    position: absolute;
    top: 40%;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#left,
#right {
    font-size: 30px;
    padding: 5px 10px;
    border-radius: 100%;
    border: 4px black solid;
    outline: none;
    background: rgb(176, 174, 174);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#left {
    margin-left: 150px;
}

#right {
    margin-right: 150px;
}

#left:hover,
#right:hover {
    background-color: black;
    color: white;
    transform: scale(1.02);
}

.main-thumb {
    width: 20%;
    margin: 20px auto;
    justify-content: center;
    overflow: hidden;
}

.thumbnail-slider {
    width: 100vw;
    display: flex;
    overflow: hidden;
    padding: 10px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.thumbnail-slider img {
    width: 80px;
    margin-right: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.thumbnail-slider img.active {
    transform: scale(1.1);
    border: 4px blue solid;
    margin-right: 10px;
    z-index: 100;
}

@media (max-width:1170px) {
    .navigation{
        top: 30%;
    }
    #left,
    #right {
        font-size: 20px;
        padding: 5px 9px;
        border: 3px black solid;
        font-weight: bold;
    }
    .thumbnail-slider img {
        width: 75px;
        margin-right: 33px;
    }
}

@media (max-width:900px) {
    .navigation{
        top: 25%;
    }
    #left {
        margin-left: 100px;
    }

    #right {
        margin-right: 100px;
    }

    .thumbnail-slider img {
        width: 70px;
        margin-right: 35px;
    }
}
@media (max-width:680px) {
    .navigation{
        top: 20%;
    }
    #left,
    #right {
        font-size: 15px;
        padding: 3px 6px;
        border: 2px black solid;
        font-weight: bold;
    }
    #left {
        margin-left: 90px;
    }

    #right {
        margin-right: 90px;
    }

    .thumbnail-slider img {
        width: 60px;
        margin-right: 45px;
    }
}
@media (max-width:500px) {
    .navigation{
        top: 18%;
    }
    #left {
        margin-left: 70px;
    }

    #right {
        margin-right: 70px;
    }

    .thumbnail-slider img {
        width: 50px;
        margin-right: 55px;
    }
}
@media (max-width:450px) {
    .navigation{
        top: 20%;
    }
    #left,
    #right {
        font-size: 13px;
        padding: 2px 4.5px;
        border: 1.5px black solid;
        font-weight: bold;
    }
    #left {
        margin-left: 60px;
    }

    #right {
        margin-right: 60px;
    }

    .thumbnail-slider img {
        width: 45px;
        margin-right: 58px;
    }
}
@media (max-width:370px) {
    #left {
        margin-left: 45px;
    }

    #right {
        margin-right: 45px;
    }
}