.header{
    width:100%;
    min-height: 100%;
    background-image:url('header1.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.logo{
    position: absolute;
    float: left;
    top: 50px;
    left: 50px;
}
.logoLink{
    position: absolute;
    display: block;
    float: left;
    top: 100px;
    left: 120px;
    width: 30px;
    height: 30px;
}
#header{
    position: absolute;
    top: 65%;
    left: 25%;
    width: 50%;
    justify-items: center;
    font-size: 2.75vh;
    background-color: rgba(255, 255, 255, 0.6);
}
#navbar{
    position: absolute;
    left: 16.5vw;
    text-align: center;
    
}
#navbar ul{
    list-style-type: none;
    display: flex;
}
#navbar li{
    background-color: rgba(255, 255, 255, 0);
    width: 15vw;
}
#navbar a{
    text-decoration: none;
    color: white;
    font-size: 4vh;
    transition: color 0.5s ease;
}
#link_01:hover{
    color: lightblue;

}
.section_01:hover #dropbtn_01{
    color: lightblue;
}
#dropbtn_01{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    cursor: pointer;
    transition: color 0.5s ease;
    font-size: 4vh;
}
.section_01:hover #content_01{
    display: block;
}
.section_01 #content_01{
    position: absolute;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10%;
    display: none;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.26);

}
.section_01 #content_01 a{
    display: block;
    border-radius: 15%;

}
#data_01:hover{
    color: rgba(0, 0, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.first{
    font-size: 120%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    
    justify-content: center;
    margin:50px 200px 100px 200px;
}
.leftphoto{
    margin:10px 10px 0px 150px;
    width: 500px; 
    height: 300px; 
    overflow: hidden;
    float: left;
}
.rightphoto{
    margin:10px 150px 0px 10px;
    width: 500px; 
    height: 300px; 
    overflow: hidden;
    float: right;
}
.hotels{
    width: 100%; 
    height: auto; 
    object-fit: cover;
}
.discriptionleft{
    margin:10px 10px 0px 150px;
    width: 400px; 
    height: 170px;
    background-color:white;
    float: left;
    position: relative;
    left: 50px;
    top: -50px;
    padding: 10px 20px 10px 20px;
    box-shadow: 3px 3px 3px 3px rgba(37, 35, 35, 0.1);
}
.discriptionright{
    margin:10px 150px 0px 10px;
    width: 400px; 
    height: 170px; 
    background-color: white;
    float: right;
    position: relative;
    left: 50px;
    top: -50px;
    padding: 10px 20px 10px 20px;
    box-shadow: 3px 3px 3px 3px rgba(37, 35, 35, 0.1);
}
.book{
    position: absolute;
    left:10px;
    bottom: 10px;
    width: auto;
    height: auto;
    color: white;
    background-color:black;
    padding: 10px;
}
.more{
    text-decoration: underline;
    color: rgb(44, 42, 42);
    position: absolute;
    right:10px;
    bottom: 10px;
}

/*footer*/
.footer{
    background-color: black;
    color: white;
   
    clear: both;
    height: 500px;;
    padding: 40px 120px 50px 120px;
}
.about{
    height: 170px;
    width: 470px;
    border-color:white;
    border-right: 1px solid;
    padding-right: 50px;
    float: left;
}
.links{
    float: left;
    padding-left: 50px;
    border-color:white;
    border-right: 1px solid;
    height: 170px;
}
.bar{
    width: 120px;
    float: left;
}
.footer-links{
    color: rgb(65, 75, 83);
}
.footer-links:hover{
    color:white;

}
.social{
    float: left;
    padding-left: 50px;
    
    
}
.social-icons a {
    text-decoration: none;
    color: rgb(65, 75, 83); /* Default color */
    margin: 0 10px;
    font-size: 24px; /* Icon size */
    transition: color 0.3s ease;
  }
  
.social-icons a:hover {
    color: #0077ff; /* Hover color */
  }
.subs{
    clear:both;
    position: relative;
    top:20px;
    border-color:white;
    border-right: 1px solid;
    float: left;
    padding-right: 30px;
    padding-bottom: 10px;
  }
.input{
    background-color: black;
    height:30px;
    border:none;
    border-bottom: 2px rgb(65, 75, 83) solid;
}
.input:hover{
    background-color:rgb(65, 75, 83) ;
    border: none;
}
.button{
    color: white;
    background-color:rgb(65, 75, 83);
    height: 30px;
    padding: 2px 5px 2px 5px;
}

.contact{
    float: left;
    top: 20px;
    padding-left: 30px;

}
.contact-icons {
    font-size: 18px;
    color: #333;
  }
  
.contact-icons i {
    margin-right: 8px;
  }
.rights{
    padding-top:20px;
    color: rgb(65, 75, 83);
    font-size: 80%;
    clear: both;
    float: left;
}