.header{
    width:100%;
    min-height: 100%;
    background-image:url('header1.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
.logo{
    position: absolute;
    float: left;
    top: 50px;
    left: 50px;
}
.logoLink{
    position: absolute;
    display: block;
    float: left;
    top: 100px;
    left: 120px;
    width: 30px;
    height: 30px;
}
#header{
    position: absolute;
    top: 65%;
    left: 25%;
    width: 50%;
    justify-items: center;
    font-size: 2.75vh;
    background-color: rgba(255, 255, 255, 0.6);
}
#navbar{
    position: absolute;
    left: 16.5vw;
    text-align: center;
    
}
#navbar ul{
    list-style-type: none;
    display: flex;
}
#navbar li{
    background-color: rgba(255, 255, 255, 0);
    width: 15vw;
}
#navbar a{
    text-decoration: none;
    color: white;
    font-size: 4vh;
    transition: color 0.5s ease;
}
#link_01:hover{
    color: lightblue;

}
.section_01:hover #dropbtn_01{
    color: lightblue;
}
#dropbtn_01{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    cursor: pointer;
    transition: color 0.5s ease;
    font-size: 4vh;
}
.section_01:hover #content_01{
    display: block;
}
.section_01 #content_01{
    position: absolute;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10%;
    display: none;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.26);

}
.section_01 #content_01 a{
    display: block;
    border-radius: 15%;

}
#data_01:hover{
    color: rgba(0, 0, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.first{
    font-size: 120%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    
    justify-content: center;
    margin:50px 200px 100px 200px;
}
.leftphoto{
    margin:10px 10px 0px 150px;
    width: 500px; 
    height: 300px; 
    overflow: hidden;
    float: left;
}
.rightphoto{
    margin:10px 150px 0px 10px;
    width: 500px; 
    height: 300px; 
    overflow: hidden;
    float: right;
}
.hotels{
    width: 100%; 
    height: auto; 
    object-fit: cover;
}
.discriptionleft{
    margin:10px 10px 0px 150px;
    width: 400px; 
    height: 170px;
    background-color:white;
    float: left;
    position: relative;
    left: 50px;
    top: -50px;
    padding: 10px 20px 10px 20px;
    box-shadow: 3px 3px 3px 3px rgba(37, 35, 35, 0.1);
}
.discriptionright{
    margin:10px 150px 0px 10px;
    width: 400px; 
    height: 170px; 
    background-color: white;
    float: right;
    position: relative;
    left: 50px;
    top: -50px;
    padding: 10px 20px 10px 20px;
    box-shadow: 3px 3px 3px 3px rgba(37, 35, 35, 0.1);
}
.book{
    position: absolute;
    left:10px;
    bottom: 10px;
    width: auto;
    height: auto;
    color: white;
    background-color:black;
    padding: 10px;
}
.more{
    text-decoration: underline;
    color: rgb(44, 42, 42);
    position: absolute;
    right:10px;
    bottom: 10px;
}